pyarrow
fastparquet
pandas
scipy
seaborn
matplotlib
networkx
scikit-learn
scipy
node2vec
git+https://github.com/Ruairi-osul/spiketimes.git
pingouin
binit
git+https://github.com/Ruairi-osul/neurobox.git
# elephant
tqdm