pyarrow
fastparquet
tqdm
pandas
numpy
numba
scipy>=1.6
seaborn
matplotlib
scikit-learn
pingouin
statsmodels
pymer4
umap-learn
node2vec
networkx
scikit-network
binit
spiketimes @ git+https://github.com/Ruairi-osul/spiketimes.git
neurobox @ git+https://github.com/Ruairi-osul/neurobox.git
mypy
jupyter
black